<!doctype html>
<html class="h-full bg-gray-900">
  <head>
    <title>Buzzer</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="h-full bg-gray-900">
    <nav
      class="bg-gray-800 text-white py-3 px-4 flex items-center justify-between"
    >
      <a class="font-bold text-xl tracking-tight" href="/home">Jeopardy</a>
      <div class="flex items-center">
        <a
          class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
          href="/new_game"
          >New Game</a
        >
        <a
          class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
          href="/create_game"
          >Create Game</a
        >
        <a
          class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
          href="/logout"
          >Logout</a
        >
      </div>
    </nav>

    <div
      class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-3xl w-full">
        <div class="bg-gray-800 rounded-lg shadow-2xl p-12 text-center">
          <h2 class="text-5xl font-bold text-white leading-tight">

            <script>
            let questionDQ = "{{ clue_text }}";
            let correct_answer = "{{ correct_answer }}";
            let answer_choices = {{ answer_choices|tojson }};
            let points = "{{ clue_point_value }}";
            </script>

            <script src="{{ url_for('static', filename='buzzer.js') }}"></script>

          </h2>

          <div id="message" class="font-trivia text-center font-bold my-2"></div>

          <!-- the entire answering the question lies on this form. when clicking on an answer it'll do all the work and pass everything to the javascript stuff, then pressing the NEXT button goes back to the game board -->
          <form action="{{ url_for('game', game_id = game_id) }}" method="post" id="idk">
            <p id="demo"></p>
            <p id="time"></p>
            <input type="hidden" name="answer" id="user_selected_answer" value="">
            <div id = "display_answer_choices"></div>

            <button id="nextBtn" name="nextbtn" type="submit"
                class="px-4 py-2 bg-gray-500 text-white cursor-not-allowed"
                disabled>
                Next
            </button>
          </form>

        </div>
      </div>
    </div>
  </body>
</html>
