<!doctype html>
<html class="h-full bg-gray-900">
  <head>
    <title>Game</title>
    <style>
      .unclickable {
        pointer-events: none;
        cursor: default;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="h-full">
    <nav class="bg-gray-800 text-white py-3 px-4">
      <div class="max-w-6xl mx-auto flex items-center justify-between">
        <div class="flex items-center space-x-4">
          <a class="font-bold text-xl tracking-tight" href="/home">Jeffpardy</a>
          <a
            class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
            href="/find_or_create_room"
            >New Game</a
          >
          <a
            class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
            href="/create_board"
            >Create Board</a
          >
          <a
            class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
            href="/leaderboards"
            >Leaderboards</a
          >
        </div>
        <div class="flex items-center space-x-4">
          <p class="text-sm">Signed in as {{ username }}</p>
          <a
            class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
            href="/logout"
            >Logout</a
          >
        </div>
      </div>
    </nav>

    <div class="min-h-screen bg-gray-900 py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-7xl mx-auto">
        <h1 class="text-4xl font-bold text-white mb-8 text-center">Game</h1>

        <div class="grid grid-cols-6 gap-4">
          {% for cat_i in range(6) %}
          <button
            type="button"
            disabled
            class="w-full bg-blue-600 hover:bg-blue-500 text-white font-bold py-8 px-4 rounded-lg transition duration-200 text-center text-lg"
          >
            {{ board_text[0][cat_i] }}
          </button>
          {% endfor %} {% for row in range(1,6) %} {% for column in range(6) %}
          <div>
            <button
              class="choose_question w-full bg-blue-600 hover:bg-blue-500 text-white font-bold py-8 px-4 rounded-lg transition duration-200 text-center text-lg"
              data-value1="{{ row }}"
              data-value2="{{ column }}"
            >
              {{ board_point_values[row][column] }}
            </button>
          </div>
          {% endfor %} {% endfor %}
        </div>
      </div>

      <button
        id = "end_game_button"
        class="w-full bg-blue-600 hover:bg-blue-500 text-white font-bold py-8 px-4 rounded-lg transition duration-200 text-center text-lg"
      >
        End Game
      </button>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script>
      const socket = io();

      const params = new URLSearchParams(window.location.search);
      const lobby_id = params.get("lobby_id");
      let lobby_array = [
        "{{ lobby_id }}",
        "{{ username1 }}",
        "{{ username2 }}",
        "{{ username3 }}",
      ];
      let choosable_questions = "{{ choosable_questions }}";
      console.log(choosable_questions);
      console.log(typeof choosable_questions === "string");

      socket.on("connect", () => {
        console.log("IN GAME LOBBY ARRAY");
        console.log(lobby_array);
        socket.emit("stay_connected", { lobby_array: lobby_array });
      });

      const choosebutton = document.getElementById("choose_question");

      // WITH MULTIPLE BUTTONS OF THE SAME ID, NEED TO USE CLASS AND THE FOLLOWING LINE INSTEAD TO MAKE AN INDIVIDUAL EVENT FOR EACH BUTTON
      document.querySelectorAll(".choose_question").forEach((button) => {
        button.addEventListener("click", () => {
          console.log("clue picked");
          let row = button.dataset.value1;
          let column = button.dataset.value2;
          console.log(row);
          console.log(column);

          if (choosable_questions === "True") {
            console.log("REDIRECT TO BUZZER HERE");
          }
        });
      });

      const end_game_button = document.getElementById("end_game_button");

      end_game_button.addEventListener("click", () => {
        if (choosable_questions === "True") {
          socket.emit("end_game", { "lobby_array" : lobby_array });
        }
      });

      socket.on("redirect_event", (data) => {
        console.log("redirecting...");
        window.location.href = data.url;
      });

      /*choosebutton.addEventListener("click", (event) => {
        console.log("clue picked")
        let row = choosebutton.dataset.value1;
        let column = choosebutton.dataset.value2;
	      let lobby_id = {{ lobby_id }};

        if (choosable_questions = "True"){
          console.log("REDIRECT TO BUZZER HERE")
        }
        //let game_id = {{ game_id }}

        //socket.on('redirect_event', question_chosen_socket(data) { window.location.href = data.url; });

        //socket.emit("question_chosen", { "row" : row, "column" : column, "lobby_id" : lobby_id });

      });*/
    </script>
  </body>
</html>
