<!doctype html>
<html class="h-full bg-gray-900">
  <head>
    <title>New Game</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="h-full">

    <div class="min-h-screen bg-gray-900 py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto">
        <div class="bg-gray-800 rounded-lg shadow-xl p-8">
          <h1 class="text-4xl font-bold text-white mb-2">New Game</h1>
          <p class="text-gray-300 mb-8">
            {{ choosing_player }}, please select a board to play, or generate a random one!
          </p>

          <button id="choose_random_board">Generate a random board!</button>

          <br>

          {% for board in all_published_board_list %}
            <button
              class = "choose_published_board"
              data-value1 = "{{ board }}"
            >
              {{ board }}
            </button>
            <br>
          {% endfor %}
        </div>
      </div>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>

    <script>
      const socket = io();

      const params = new URLSearchParams(window.location.search);
      const lobby_id = params.get("lobby_id");
      let lobby_array = [
        "{{ lobby_id }}",
        "{{ username1 }}",
        "{{ username2 }}",
        "{{ username3 }}",
      ];

      console.log("why")
      console.log(lobby_array)

      socket.on("connect", () => {
        socket.emit("stay_connected", {"lobby_array" : lobby_array});
      });

      const choose_random_board = document.getElementById("choose_random_board")

      choose_random_board.addEventListener('click', function(event) {
        event.preventDefault();
        console.log('choose_random_board clicked')
        socket.emit('choose_board', { "lobby_id" : lobby_array[0], "type_of_board" : "random" });
      });

      // WITH MULTIPLE BUTTONS OF THE SAME ID, NEED TO USE CLASS AND THE FOLLOWING LINE INSTEAD TO MAKE AN INDIVIDUAL EVENT FOR EACH BUTTON
      document.querySelectorAll(".choose_published_board").forEach(button => {
        button.addEventListener('click', function(event) {
          console.log('clicked!')
          let board = button.dataset.value1
          event.preventDefault();
          console.log('choose_published_board clicked')
          socket.emit('choose_board', { "lobby_id" : lobby_array[0], "type_of_board" : "published", "board" : board });
        });
      });

      socket.on("redirect_event", (data) => {
        console.log("redirecting...")
        window.location.href = data.url
      });
    </script>
  </body>
</html>
