<!DOCTYPE html>
<html>


<head>
<title>New Game</title>
</head>

<body>

<h1>New Game</h1>
    <br>
    <h2>Enter usernames and passwords for three players. If playing as guest, leave blank.
    <form method="POST">
      <h3>Player 1's Username:</h3>
      <input class="a" type="text" name="username1" />
      <br>
      <br>
      <h3>Player 1's Password:</h3>
      <input class="a" type="password" name="password1" />
      <br>
      <br>

      <h3>Player 2's Username:</h3>
      <input class="a" type="text" name="username2" />
      <br>
      <br>
      <h3>Player 2's Password:</h3>
      <input class="a" type="password" name="password2" />
      <br>
      <br>

      <h3>Player 3's Username:</h3>
      <input class="a" type="text" name="username3" />
      <br>
      <br>
      <h3>Player 3's Password:</h3>
      <input class="a" type="password" name="password3" />
      <br>
      <br>
      <input class="b" type="submit" name="sub1" />
    </form>
    <br>
    <h5>{{invalid}}</h5>
    <br>

</body>
</html>
