<!DOCTYPE html>
<html>


<head>
<title>New Game</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="new_game.css">
</head>

<body>

<nav class="bg-gray-800 text-white py-3 px-4 flex items-center justify-between">
    <a class="font-bold text-xl tracking-tight" href="/home">My Site</a>
    <div class="flex items-center">
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="/home">Home</a>
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="/create_new">Create New Game</a>
        <a class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700" href="/game">Game</a>
    </div>
</nav>
<h1>New Game</h1>
    <br>
    <h2>Enter usernames and passwords for three players. If playing as guest, leave blank.
    <form method="POST">
      <h3>Player 1's Username:</h3>
      <input class="a" type="text" name="username1" />
      <br>
      <br>
      <h3>Player 1's Password:</h3>
      <input class="a" type="password" name="password1" />
      <br>
      <br>

      <h3>Player 2's Username:</h3>
      <input class="a" type="text" name="username2" />
      <br>
      <br>
      <h3>Player 2's Password:</h3>
      <input class="a" type="password" name="password2" />
      <br>
      <br>

      <h3>Player 3's Username:</h3>
      <input class="a" type="text" name="username3" />
      <br>
      <br>
      <h3>Player 3's Password:</h3>
      <input class="a" type="password" name="password3" />
      <br>
      <br>
      <input class="b" type="submit" name="sub1" />
    </form>
    <br>
    <h5>{{invalid}}</h5>
    <br>

</body>
</html>
