<!DOCTYPE html>
<html>


<head>
<title>Register</title>
</head>

<body>

<h1>Register</h1>
    <br>
    <form action="/register" method="POST">
      <h3>Username:</h3>
      <input class="a" type="text" id="username" name="username" required />
      <br>
      <br>
      <h3>Password:</h3>
      <input class="a" type="password" id="password" name="password" required />
      <br>
      <br>
      <input class="b" type="submit" name="sub1" value="Register" />
    </form>
    <br>
    <h5>{{invalid}}</h5>
    <br>
    <div class="login">
      <p>Click the button below to login.</p>
      <a href="{{url_for('login')}}"> <button class="b">Login</button> </a>
    </div>
    <br>
    <br>


</body>
</html>
