<!doctype html>
<html class="h-full bg-gray-900">
  <head>
    <title>Register</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>

  <body class="h-full">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
          class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white"
        >
          Create your account
        </h2>
      </div>

      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form action="/register" method="POST" class="space-y-6">
          <div>
            <label
              for="username"
              class="block text-sm/6 font-medium text-gray-100"
              >Username</label
            >
            <div class="mt-2">
              <input
                id="username"
                type="text"
                name="username"
                required
                autocomplete="username"
                class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
              />
            </div>
          </div>

          <div>
            <label
              for="password"
              class="block text-sm/6 font-medium text-gray-100"
              >Password</label
            >
            <div class="mt-2">
              <input
                id="password"
                type="password"
                name="password"
                required
                autocomplete="new-password"
                class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"
              />
            </div>
          </div>

          {% if invalid %}
          <div class="rounded-md bg-red-500/10 p-3">
            <p class="text-sm text-red-400">{{ invalid }}</p>
          </div>
          {% endif %}

          <div>
            <button
              type="submit"
              name="sub1"
              value="Register"
              class="flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
            >
              Register
            </button>
          </div>
        </form>

        <p class="mt-10 text-center text-sm/6 text-gray-400">
          Already have an account?
          <a
            href="{{url_for('login')}}"
            class="font-semibold text-indigo-400 hover:text-indigo-300"
            >Sign in</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
